<strong>Olá, {{ ownerName }}</strong>

<p>Sua meetup "{{ title }}" tem uma nova inscrição, abaixo estao as informações do usuário:
  <strong>Nome: {{ userName }}</strong>
  <strong>Email: {{ userEmail }}</strong>
</p>
